<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="50000000" />
        </requestFiltering>
      </security>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HelpDesk.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <handlerSettings>
          <handlerSetting name="debugLevel" value="EVENTLOG,WARNING" />
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 23D164FF-D237-421C-A97B-92271C30686E-->